@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Machine Details</h1>
      <h3>Name: @Html.DisplayFor(model => model.Name)</h3>
      <h3>Known Issues: @Html.DisplayFor(model => model.Issues)</h3>
    </div>
    <div class="col-sm-6">
      <h1>Approved to be Maintained/Repaired By</h1>
      <h3>Placeholder column, will hold Engineers machine is associated with.</h3>
    </div>
  </div>
</div>