<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Factory</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
      <nav class="navbar navbar-light nav-glyph">  
      <div class="container-fluid" id = "nav-background">  
        <ul class="nav navbar-nav">
          <img src="~/img/Accelerate.png" width="180px">
          <button type="button" class="btn btn-dark nav-glyph">
            <span class="glyphicon glyphicon-home nav-glyph" aria-hidden="true"></span><li><a class="nav-text" href="/">Home</a></li>  
          </button>
          <button type="button" class="btn btn-dark nav-glyph">
            <span class="glyphicon glyphicon-user nav-glyph" aria-hidden="true"></span><li><a class="nav-text" href="/Engineers/">Engineers</a></li>  
          </button>
          <button type="button" class="btn btn-dark nav-glyph">
            <span class="glyphicon glyphicon-cog nav-glyph" aria-hidden="true"></span><li><a class="nav-text" href="/Machines/">Machines</a></li>  
          </button>
          <button type="button" class="btn btn-dark nav-glyph">
            <span class="glyphicon glyphicon-book nav-glyph" aria-hidden="true"></span><li><a class="nav-text" href="/Directory/">Directory</a></li>  
          </button>
        </ul>  
      </div>  
    </nav>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>