@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add a machine @Model.Name is approved to maintain or repair</h1>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}